<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pagamentos Studio Corpo Livre</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-route.min.js"></script> 
    <script src="angular/app.js"></script>
    <script src="angular/services/stateService.js"></script>
    <script src="angular/controllers/index.js"></script>
    <script src="angular/controllers/list.js"></script>
   
    <style type="text/css">
      .lista {
        font-size: 20px;
      }

      .silverRow {
        background-color: #dedede;
      }

      .whiteRow {
        background-color: none;
      }
    </style>

  </head>
  <body ng-app="studioPayment">
    <div class="container">
      <div class="row text-center">
        <h2>Pagamentos Studio Corpo Livre</h2>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row" ng-controller="indexController">
        <div ng-show="showState.main">
          <div class="col-sm-4 text-center" ng-repeat="gym in gyms" >
            <button class="btn btn-success btn-lg" type="button" ng-click="openList(gym)">{{gym.name}}</button>
          </div>
        </div>
        <div ng-show="showState.list">
            <div class="row">
                <div class="col-md-2 text-left">&nbsp;</div>
                <div class="col-md-8 text-center"><h1><strong>&nbsp;&nbsp;{{dataState.gym.name}}&nbsp;&nbsp;</strong></h1></div>
                <div class="col-md-2 text-right">&nbsp;</div>
              </div>
            <div class="row">
              <div class="col-md-2 text-left"><button class="btn btn-success btn-lg" type="button" ng-click="goHome()"><span class="glyphicon glyphicon-home" title="Selecionar outra unidade" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;</button></div>
              <div class="col-md-8 text-center"><button class="btn btn-info btn-sm" type="button" ng-click="editData()"><span class="glyphicon glyphicon-pencil" title="Editar planilha de valores" aria-hidden="true"></span>&nbsp;Editar</button>&nbsp;
                <button class="btn btn-info btn-sm" type="button" ng-click="refreshData()"><span class="glyphicon glyphicon-refresh" title="Atualizar lista" aria-hidden="true"></span></button></div>
              <div class="col-md-2 text-right"><button class="btn btn-success btn-lg" type="button" ng-click="printData(funcionarios)"><span class="glyphicon glyphicon-print" title="Imprimir todos os selecionados" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Imprimir&nbsp;&nbsp;&nbsp;</button></div>
            </div>
            <div class="row">
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-5">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-5">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-2">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
              <div class="col-md-1">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-md-12"><input type="checkbox" ng-click="toggleCheck()" /> Marcar/Desmarcar todos</div>
            </div>
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-5">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
              </div>
            <div class="row" ng-repeat="func in funcionarios">
              <div class="row" ng-class-odd="'silverRow'" ng-class-even="'whiteRow'">
                <div class="col-md-2"><input type="checkbox" ng-model="func.selected" /></div>
                <div class="col-md-5 lista">{{func.nome}}</div>
                <div class="col-md-1"></div>
                <div class="col-md-2 text-right lista">{{formatBR(func.total)}}</div>
                <div class="col-md-2">
                    <span ng-click="printSingle(func)" class="glyphicon glyphicon-usd" title="Imprimir recibo" aria-hidden="true" style="cursor:pointer"></span>&nbsp;&nbsp;
                    <span ng-click="printEmpty(func)" class="glyphicon glyphicon-list-alt" title="Imprimir recibo sem valores" aria-hidden="true" style="cursor:pointer"></span>
                </div>
              </div> 
            </div>
        </div>
        <div ng-show="showState.print">
          <div class="row" id="divPrint">
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>